body {
  margin: 0;
}

.header {
  background: #eff0f2;
}
.header-nav {
  padding-top: 64px;
  margin-bottom: 204px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 43px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-shadow: 5px 8px 7px rgba(0, 0, 0, 0.2);
  color: #505050;
}
.colored-text {
  background: #b2f2ee;
  padding: 7px 10px;
}
.header-butoon {
  width: calc(100% + 60px);
  height: 52px;
  border: 2px solid #777879;
  border-radius: 2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
}
.knop-img {
  position: relative;
  left: 0;
  top: 27px;
}
.butoons {
  margin-top: 150px;
  padding-bottom: 195px;
}
.works {
  padding-top: 130px;
  padding-bottom: 125px;
}
.title-big {
  font-size: 38px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #343434;
  margin-bottom: 17px;
}
.title-small {
  text-transform: uppercase;
  font-size: 17px;
  color: #888888;
  font-family: "Merriweather", serif;
}
.card-img {
  width: 100%;
  padding-top: 13px;
}
.us {
  padding-top: 130px;
  padding-bottom: 125px;
  background-color: #f8fafa;
  height: 987px;
}
.carousel-inner {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
}
.computer {
  margin-top: 227px;
  position: absolute;
  margin-left: 68px;
}
.active {
}
.about {
  position: relative;
  display: flex;
}
.carousel-indicators {
  position: absolute;
  right: 565px;
  bottom: -113px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #777879;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.shadows {
  width: 480px;
  height: 413px;
  background: #edeef0;
  margin-top: 180px;
  margin-left: 36px;
}
.services {
  background-color: #f9fbfb;
  padding-top: 130px;
}
.bd-example {
  width: 390px;
  height: 485px;
  display: flex;
}
.textcomp {
  padding-left: 56px;
  position: absolute;
  margin-top: 220px;
  width: 478px;
}
.title-bigs {
  font-size: 15px;
  font-weight: bold;
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase;
  color: #343434;
  margin-bottom: 17px;
}
.title-smalls {
  font-size: 12px;
  color: #888888;
  font-family: "Merriweather";
}
.card {
  width: 100%;
  height: 365px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}
.card-big {
  height: 420px;
}
.card-first {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 55px 65px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.first-content {
  display: flex;
  flex-direction: column;
}
.content-title {
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 27px;
  word-spacing: 6px;
}
.title-offset {
  margin-bottom: 125px;
}
.content-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}
.content-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.second-content {
  width: 100%;
  height: 100%;
  background: #71f5eb;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.4s;
  padding: 62px 115px 55px 65px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card-first:hover > .second-content {
  opacity: 1;
}
.text-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tee {
  background-image: url("../images/img1-1.jpg");
}
.docks {
  background-image: url("../images/img1-2.jpg");
}
.cool {
  background-image: url("../images/cool.jpg");
}
.kori {
  background-image: url("../images/kori.jpg");
}
.design {
  background-image: url("../images/img2-5.jpg")
}
.for {
  background-image: url("../images/img2-6.jpg")
}
.gamburger {
  position: relative;

}


.menu {
  background: white;
  box-shadow: -5px 5px 10px 0 grey;
  width: 200px;
  display: none;
  flex-direction: column;
  position: absolute;
  left: -205px;
  top: 28px;
 
}
.gamburger:hover > .menu {
  display: flex;
} 
.menu-item {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  transition: .4s;

}
.menu-item:hover {
  color: black;
  text-decoration: none;
  background: lightgrey;
}
.menu-item:last-child {
  border-bottom: none;
}
